<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Edit Menu</title>
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="topBar">
  <h1 class="logo">o a x a c a</h1>
  
</div>
	<div align="center">
		<h1 style="margin-top: 110px;">Edit Menu</h1>
		<p>From here you can edit existing dishes, for help hover over the headers!</p>
		<br />
		<form action="staff" th:action="@{/save}" th:object="${menu}"
			method="post">

			<table border="0" cellpadding="10">
				<tr>				
					<td  class="tooltip">menuID:
						<span class="tooltiptext">This is a unique number that idenfities the dish</span>
					</td>
					<td>
						<input type="text" th:field="*{menuID}" readonly="readonly" />
					</td>
				</tr>			
				<tr>				
					<td>name:</td>
					<td>
						<input type="text" th:field="*{name}" />
					</td>
				</tr>
				<tr>
					<td class="tooltip">description:
						<span class="tooltiptext">Describe the dish is the most appatising way you can</span>
					</td>
					<td><input type="text" th:field="*{description}" /></td>
				</tr>
				<tr>
					<td class="tooltip">type:
						<span class="tooltiptext">Dessert, drink, appitiser?</span>
					</td>
					<td><input type="text" th:field="*{type}" /></td>
				</tr>
				<tr>
					<td>price:</td>
					<td><input type="text" th:field="*{price}" /></td>
				</tr>								
				<tr>
					<td colspan="2"><button type="submit">Save</button> </td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>