<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<title>o a x a c a</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Raleway" />
<link href="../static/css/style1.css" th:href="@{/css/style1.css}"
	rel="stylesheet" />

<style>
.responsive {
	width: 100%;
	height: auto;
}

[contenteditable] {
	outline: 0px solid transparent;
}
</style>


<body>
	<div class="bgimg w3-display-container w3-text-white">
		<div class="w3-display-top w3-container w3-xsmall">
			<center>
				<button contenteditable="true"
					onclick="document.getElementById('order').style.display='block' "
					class="w3-button w3-animate-opacity w3-hover-none">
					<img src="../images/logo4.png" height="50" width="auto" />

				</button>
		</div>
		<div align="center">
			<h1 style="margin-top: 110px;">Orders</h1>
			<p></p>
			<a href="new"></a> <br />
			<br />


			<table>
				<thead>
					<tr>
						<th>OrderID</th>
						<th>TableNumber</th>
						<th>MenuItems</th>
						<th>Status</th>
						<th>OrderTime</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="kitchen : ${listOrders}">
						<td th:text="${kitchen.orderID}">OrderID</td>
						<td th:text="${kitchen.tablenum}">TableNumber</td>
						<td th:text="${kitchen.description}">MenuItems</td>

						<td th:text="${kitchen.status}">Status</td>


						<td th:text="${kitchen.ordertime}">TimePlaced</td>
						<td><a th:href="@{'/changeStatus/' + ${kitchen.kitchenID}}"><button
									class="w3-button w3-green">Call Service</button></a></td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="w3-display-bottomright w3-container w3-xsmall">
			<p>
				<button class="w3-button w3-pink">logout</button>
			</p>
		</div>
</body>

</html>