<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<title>o a x a c a</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Raleway" />
<link href="../static/css/style1.css" th:href="@{/css/style1.css}"
	rel="stylesheet" />

<style>
.responsive {
	width: 100%;
	height: auto;
}

[contenteditable] {
	outline: 0px solid transparent;
}
</style>

<body>
	<div class="bgimg w3-display-container w3-text-white">
		<div class="w3-display-top w3-container w3-xsmall">
			<center>
				<button contenteditable="true"
					onclick="document.getElementById('order').style.display='block' "
					class="w3-button w3-animate-opacity w3-hover-none">
					<img src="../images/logo4.png" height="50" width="auto" />

				</button>
			</center>

		</div>
		<div align="center">
			<h1 style="margin-top: 110px;">Adjust Menu</h1>
			<br /> <br />
			<form action="managermenu" th:action="@{/save}"
				th:object="${menu}" method="post">

				<table border="0" cellpadding="10">
					<tr>
						<td class="tooltip">menuID: <span class="tooltiptext">This
								is a unique number that identifies the dish</span>
						</td>
						<td><input type="text" th:field="*{menuID}" /></td>
					</tr>
					<tr>
						<td>name:</td>
						<td><input type="text" th:field="*{name}" /></td>
					</tr>
					<tr>
						<td class="tooltip">description: <span class="tooltiptext">Describe
								the dish is the most appatising way you can</span>
						</td>
						<td><input type="text" th:field="*{description}" /></td>
					</tr>
					<tr>
						<td class="tooltip">type: <span class="tooltiptext">Dessert,
								drink, appitiser?</span>
						</td>
						<td><input type="text" th:field="*{type}" /></td>
					</tr>
					<tr>
						<td>price:</td>
						<td><input type="number" required th:field="*{price}" /></td>
					</tr>	
					<tr>
						<td>ingredients:</td>
						<td><input type="text" required th:field="*{ingID}" /></td>
					</tr>

					<tr>
						<td colspan="2"><button type="submit">Save</button></td>
					</tr>

				</table>
			</form>
			<h4 style="margin-top: 110px;">Recommended Price</h4>
			<table>
				<tr>
					<td>Basic cost:</td>
					<td><input name="cost" type="text" id="cost" /></td>
				</tr>
				<tr>
					<td colspan="2"><button onclick="calcprice()">Calculate
							recommended price</button></td>
				</tr>
			</table>
		</div>
	</div>
</body>
<script>
	function calcprice() {
		var cost = document.getElementById('cost').value;
		var calculatedCost = cost * 1.6;
		alert("Minimum recommended price is £" + calculatedCost);

	}
</script>
</html>