<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Make an Order</title>
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="topBar">
		<h1 class="logo">o a x a c a</h1>

	</div>
	<div align="center">
		<h1 style="margin-top: 110px;">Make an Order</h1>
		<p>Add items to your order!</p>

		<form action="#" th:action="@{/saveorder}" th:object="${orders}"
			th:object="${location}" method="post">
			<input type="number" id="location" name="location" th:field="*{location}" />
			<button type="submit">Confirm Order</button>
		</form>

		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Type</th>
					<th>Price</th>
					<th>Add to Order</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="menu : ${listMenu}">
					<td th:text="${menu.name}">name</td>
					<td th:text="${menu.description}">description</td>
					<td th:text="${menu.type}">type</td>
					<td th:text="${menu.price}">price</td>
					<td><input type="checkbox" id="addToOrder" /></td>
				</tr>
			</tbody>
		</table>

	</div>
	<div class="bottomBar" align="center">
		<a class="bottomLogo" href="staff">Staff Page</a>
	</div>
</body>
</html>
