body {
  background-color: #ededde;
}


.topBar {
  left: 0;
  overflow: hidden;
  background-color: #2e2e1f;
  position: fixed; 
  top: 0; 
  width: 100%; 
  margin-bottom: 100px;
}

.bottomBar {
  left: 0;
  overflow: hidden;
  background-color: #2e2e1f;
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  margin-top: 100px;
}

.logo {
	text-align: center;
	color: white;
	font-family: Courier New;
	
}

.sublogo {
	text-align: center;
	color: white;
	font-family: Courier New;
	font-size: 15px;
}

.bottomLogo {
	text-align: center;
	color: white;
	font-family: Courier New;
	
}

/* tooltip code is edited from https://www.w3schools.com/howto/howto_css_tooltip.asp */

.tooltip {
  position: relative;
  display: inline-block;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  margin-left:-5px;
  margin-right:-5px;
}

.column {
  flex: 50%;
  padding: 5px;
}

.current{
  border-collapse: collapse;
  position: fixed; 
  top: 175px; 
  right:25px;
  width: 30%; 
  max-height:100%;
  background-color: #2e2e1f;
  color: white;
  font-family: Courier New;
  font-size: 12px;
  text-align: center;
}

.bottomrow{
  right:25px;
  width: 30%;
  margin-bottom: 30px;
  margin-left: 175%;
  position:fixed;
  bottom: 0;    
  background-color: #ededde;
}

.toprow{
	
   position: fixed; 
  top: 113px; 
  right:25px;
  width: 30%;
  margin-left: 175%;
  position:fixed;
  bottom: 0;    
  background-color: #ededde;
}

.customer{
  border-collapse: collapse;
  position: fixed; 
  top: 175px; 
  left:25px;
  width: 55%; 
  max-height:100%;
  color: white;
  font-family: Courier New;
  font-size: 12px;
  text-align: center;
}

.confirmbutton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  transition: all .2s ease-in-out;
}

.confirmbutton:hover { transform: scale(1.1); }

.rejectbutton {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  transition: all .2s ease-in-out;
}

.rejectbutton:hover { transform: scale(1.1); }

button {
  background-color: #2e2e1f;
  font-family: Courier New;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  border-radius: 12px;
}

.smalltext{
	font-size: 8px;
	
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
   border-spacing: 0;
}

.current{
  display: block;
  height: 63.5%;
  overflow-y: auto;
  width: 30%;
  border-collapse: collapse;
}


th, td {
  text-align: left;
  padding: 16px;
}
